<div class="container-fluid">
  <header class="d-flex flex-column flex-md-row flex-wrap justify-content-between align-items-center py-3 px-4 border-bottom shadow-sm">
    <!-- Logo Section -->
    <div class="text-center mb-3 mb-md-0">
      <img src="images/highsourcelogo.jpeg" alt="HighSource HR Solutions Logo" class="img-fluid" style="max-width: 120px;">
    </div>
    <!-- Title Section -->
    <div class="text-center mb-3 mb-md-0">
      <h1 class="h3 mb-0">HighSource HR Solutions</h1>
    </div>
    <!-- Logout Button -->
    <div class="text-center text-md-end">
     <a routerLink="adminHome"><button class="btn btn-primary px-4 py-2">Logout</button></a> 
    </div>
  </header>

  <section class="row">
    <div class="col-sm-2">
      <h4 class="mt-3">Admin</h4>
    </div>
    <div class="col-sm-10 d-flex flex-wrap justify-content-around">
      <a routerLink="/addEmployee"><button class="btn btn-primary mt-3">Add Employee</button></a>
      <a routerLink="/employeeDetails"><button class="btn btn-primary mt-3">Employee Details</button></a>
      <a routerLink="/adminAttendanceDetails"><button class="btn btn-primary mt-3">Employee Attendance</button></a>
    </div>
  </section><hr>

</div>
