<div class="container mt-5">
  <h2 class="text-center mb-4">Admin Dashboard</h2>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <a routerLink="/addEmployee"><button class="btn btn-primary btn-block mb-3 w-100">
        Add Employee
      </button></a>
    </div>
    <div class="col-md-4">
      <button class="btn btn-success btn-block mb-3 w-100">
        Employee Details
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger btn-block w-100">
        Attendance Details
      </button>
    </div>
  </div>
</div>
